製品新規番号登録ページ
<% if @alert_message %>
  <div class="alert alert-warning">
    <%= @alert_message %>
  </div>
<% end %>
<%= form_with(model: @product_num,local: true) do |form| %>

<%= render 'shared/error_messages', model: form.object %>

    <div class="field">
      <%= form.label "管理番号" %>
      <%= form.text_field :product_number %>
    </div>

    <div class="field">
      <%= form.label "製品名" %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label "親製品管理番号" %>
      <%= form.text_field :product_nums %>
    </div>

    <div class="field">
      <%= form.label "親材料必要個数" %>
      <%= form.text_field :material_count %>
    </div>

  <div class="actions">
    <%= form.submit "製品登録！" %>
  </div>
<% end %>
